
  **Chair:**  
   Hiram Aldarondo  
   427 Anderson Hall  
   [(215) 204-0134](tel:2152040134)  
   [haldaron@temple.edu](mailto:haldaron@temple.edu)  
   
   ___
   
   **Graduate Chair:**  
   Víctor Pueyo Zoco  
   445 Anderson Hall  
   [(215) 204-5129](tel:2152045129)  
   [vpueyozo@temple.edu](mailto:vpueyozo@temple.edu)  
   
   ___
   
   **Administrator:**  
   Michelle Pugliese  
   429 Anderson Hall   
   [(215) 204-5628](tel:2152045628)  
   [pugliese@temple.edu](mailto:pugliese@temple.edu)  
   
   ___

   **Coordinator:**  
   Annette Vega  
   428 Anderson Hall    
   [(215) 204-2877](tel:2152042877)   
   [avega1@temple.edu](mailto:avega1@temple.edu)
