<p><strong>Chair:</strong><br>
Hiram Aldarondo<br>
427 Anderson Hall<br>
<a href="tel:2152040134">(215) 204-0134</a><br>
<a href="mailto:haldaron@temple.edu">haldaron@temple.edu</a></p>
<hr>
<p><strong>Undergraduate Chair:</strong><br>
Patricia Moore-Martinez<br>
426 Anderson Hall<br>
<a href="tel:2152041707">(215) 204-5129</a><br>
<a href="mailto:pmoore04@temple.edu">pmoore04@temple.edu</a></p>
<hr>
<p><strong>Graduate Chair:</strong><br>
Víctor Pueyo Zoco<br>
445 Anderson Hall<br>
<a href="tel:2152045129">(215) 204-5129</a><br>
<a href="mailto:vpueyozo@temple.edu">vpueyozo@temple.edu</a></p>
<hr>
<p><strong>Administrator:</strong><br>
Michelle Pugliese<br>
429 Anderson Hall<br>
<a href="tel:2152045628">(215) 204-5628</a><br>
<a href="mailto:pugliese@temple.edu">pugliese@temple.edu</a></p>
<hr>
<p><strong>Coordinator:</strong><br>
Annette Vega<br>
428 Anderson Hall<br>
<a href="tel:2152042877">(215) 204-2877</a><br>
<a href="mailto:avega1@temple.edu">avega1@temple.edu</a></p>
<hr>
<script type="text/javascript" src="https://form.jotform.com/jsform/82404083988162"></script>
