<p><strong>Chair</strong><br>
Hiram Aldarondo<br>
427 Anderson Hall<br>
<a href="tel:2152040134">(215) 204-0134</a><br>
<a href="mailto:haldaron@temple.edu">haldaron@temple.edu</a></p>
<hr>
<p><strong>Director, Temple in Spain Programs (Spring and Summer)</strong><br>
Jaime Durán<br>
437 Anderson Hall<br>
<a href="mailto:jduran@temple.edu">jduran@temple.edu</a></p>
<hr>
<p><strong>Study Abroad Advisor for Non-Temple Programs</strong><br>
Paul D. Toth<br>
441 Anderson Hall<br>
<a href="mailto:ptoth@temple.edu">ptoth@temple.edu</a></p>
<hr>
