<h2>Non Tenure Track Faculty</h2>
  
<ul>
   <li><a href="mailto:wcalvano@temple.edu">Bill Calvano</a></li>
   <li><a href="https://liberalarts.temple.edu/academics/faculty/gonzalez-del-valle-luis-t">Luis T. Gonzalez del Valle</a></li>
   <li><a href="https://liberalarts.temple.edu/academics/faculty/holmquist-jonathan-0">Jonathan Holmquist</a></li>
   <li><a href="mailto:moncy@temple.edu">Agnes Moncy</a></li>
   <li><a href="mailto:hmorell@temple.edu">Hortensia Morell</a></li>  
   <li><a href="https://liberalarts.temple.edu/academics/faculty/kahn-hana-muzika">Hana Muzika Kahn</a></li>
</ul>
