<hr>

<h2>Non Tenure Track Faculty</h2>
  
<ul>
   <li><a href="https://liberalarts.temple.edu/academics/faculty/ashvo-mu-oz-alira">Alira Ashvo-Muñoz</a></li>
   <li><a href="https://liberalarts.temple.edu/academics/faculty/corrales-martin-norma">Norma Corrales Martin</a></li>
   <li><a href="https://liberalarts.temple.edu/academics/faculty/duran-jaime">Jamie Durán</a></li>
   <li><a href="https://liberalarts.temple.edu/academics/faculty/moore-martinez-patricia">Patricia Moore-Martinez</a></li>
   <li><a href="https://liberalarts.temple.edu/academics/faculty/pardes-marcela">Marcela Pardes</a></li>
   <li><a href="https://liberalarts.temple.edu/academics/faculty/pongan-joshua">Joshua Pongan</a></li>
</ul>
