<h2>Non Tenure Track Faculty</h2>
  
<ul>
   <li><a href="https://liberalarts.temple.edu/academics/faculty/ashvo-mu-oz-alira">Alira Ashvo-Muñoz</a></li>
   <li><a href="https://liberalarts.temple.edu/academics/faculty/ashvo-mu-oz-alira">Luis T. Gonzalez del Valle</a></li>
   <li><a href="https://liberalarts.temple.edu/academics/faculty/holmquist-jonathan-0">Jonathan Holmquist</a></li>
   <li><a href="https://liberalarts.temple.edu/academics/faculty/ashvo-mu-oz-alira">Luis T. Gonzalez del Valle</a></li>
   <li><a href="https://liberalarts.temple.edu/academics/faculty/ashvo-mu-oz-alira">Luis T. Gonzalez del Valle</a></li>
   <li><a href="https://liberalarts.temple.edu/academics/faculty/ashvo-mu-oz-alira">Luis T. Gonzalez del Valle</a></li>
</ul>
