<h2>Emeritus Faculty</h2>
  
<p>Retired and emeriti professors maintain connections to the Department of Spanish and Portuguese, but rarely teach courses. Emeriti professors also may retain office space or other privileges in the Department of Spanish and Portuguese.</p>

<ul>
   <li><a href="https://liberalarts.temple.edu/academics/faculty/gonzalez-del-valle-luis-t">Luis T. Gonzalez del Valle</a></li>
   <li><a href="https://liberalarts.temple.edu/academics/faculty/holmquist-jonathan-0">Jonathan Holmquist</a></li>
   <li><a href="https://liberalarts.temple.edu/academics/faculty/kahn-hana-muzika">Hana Muzika Kahn</a></li>
</ul>


