<div>
  <h2>Graduate Students</h2>
    <p>Our highly selected MA students are an intricate part of the learning and teaching experience here in the Deparment of Spanish. Our graduate students conduct research, teach courses and work closely with various faculty members and students throughout the department.</a></p>
  </div>
<div class="container">
  <div class="row">
    <div class="col s12 m6" <br>
      <b></b>
      <ul>
        <li><a href="mailto:tue90318@temple.edu" title="Rachel M. Anderson">Rachel M. Anderson</a></li>
        <li><a href="mailto:tug70939@temple.edu" title="Laura Arevalo Catalan">Laura Arevalo Catalan</a><p>
        <li><a href="mailto:tuc20202@temple.edu" title="María Elena Arias Zelidón">María Elena Arias Zelidón</a></li>
        <li><a href="mailto:tug20217@temple.edu" title="Katherine Clarkson">Katherine Clarkson</a></li>
        <li><a href="mailto:tuc07388@temple.edu" title="John Cunicelli">John Cunicelli</a></li>
        <li><a href="mailto:kathleen.cunniffe@temple.edu" title="Kathleen Cunniffe">Kathleen Cunniffe</a></li>
        <li><a href="mailto:tub09582@temple.edu" title="Megan DeVirgilis">Megan DeVirgilis</a></li>
        <li><a href="mailto:tuc70597@temple.edu" title="Angel Díaz-Dávalos">Angel Díaz-Dávalos</a></li>
        <li><a href="mailto:tuc67796@temple.edu" title="Gabriela Díaz-Dávalos">Gabriela Díaz-Dávalos</a></li>
        <li><a href="mailto:fischettim1@temple.edu" title="Matthew Fischetti">Matthew Fischetti</a></li>
        <li><a href="mailto:tug79978@temple.edu" title="Benjamin Gibson">Benjamin Gibson</a></li>
        <li><a href="mailto:tub80486@temple.edu" title="Yohana Gil Berrio">Yohana Gil Berrio</a></li>
        <li><a href="mailto:tug77716@temple.edu" title="Mariana Hernandez y Rojoas">Mariana Hernandez y Rojoas</a></li><li>
        <li><a href="mailto:tuf56127@temple.edu" title="Christopher Jacobs">Christopher Jacobs</a></li><li>
        <li><a href="mailto:tue60062@temple.edu" title="Guillermo Morales Jodra">Guillermo Morales Jodra</a></li>  
        <li><a href="mailto:tuc56381@temple.edu" title="Chloe Hyun Lee">Chloe Hyun Lee</a></li>   
        <li><a href="mailto:tuf76211@temple.edu" title="Carmen De León">Carmen De León</a></li>  
        <li><a href="mailto:tub65872@temple.edu" title="William Longbottom">William Longbottom</a></li>  
        <li><a href="mailto:tuc35152@temple.edu" title="Manuel Malia">Manuel Malia</a></li>  
        <li><a href="mailto:tuc33373@temple.edu" title="Kaltra Marku">Kaltra Marku</a></li>
        <li><a href="mailto:tuf66947@temple.edu" title="Alodia Martín-Martínez">Alodia Martín-Martínez</a></li>   
      </ul>
    </div>

    <div class="row">
      <div class="col s12 m6" <br>
        <b></b>
        <ul>
          <li><a href="mailto:tue81172@temple.edu" title="Raquel Mattson-Prieto">Raquel Mattson-Prieto</a></li>
          <li><a href="mailto:etnamira@temple.edu" title="Rimante Navickaite">Rimante Navickaite</a></li>
          <li><a href="mailto:josie5@temple.edu" title="Erica O’Brien">Erica O’Brien</a></li>
          <li><a href="mailto:jpongan@temple.edu" title="Joshua Pongan">Joshua Pongan</a></li>
          <li><a href="mailto:tue67688@temple.edu" title="Daniel Raso">Daniel Raso</a></li>
          <li><a href="mailto:tuf74539@temple.edu" title="Dayna Reed">Dayna Reed</a></li>
          <li><a href="mailto:aureliar@temple.edu" title="Aurelia Río">Aurelia Río</a></li>
          <li><a href="mailto:tue64356@temple.edu" title="Jose G. Rodriguez-Plaza">Jose G. Rodriguez-Plaza</a></li>
          <li><a href="mailto:tuf29810@temple.edu" title="Maria Romero">Maria Romero</a></li>
          <li><a href="mailto:tuf08497@temple.edu" title="Lina Ruiz Guzmán">Lina Ruiz Guzmán</a></li>
          <li><a href="mailto:tuf56091@temple.edu" title="William Ryan">William Ryan</a></li>
          <li><a href="mailto:tug02810@temple.edu" title="Ashley Shaffer">Ashley Shaffer</a></li>
          <li><a href="mailto:carol.smolen@temple.edu" title="Carol Smolen">Carol Smolen</a></li>
          <li><a href="mailto:stone3@temple.edu" title="Thomas Stone">Thomas Stone</a></li>
          <li><a href="mailto:tua17213@temple.edu" title="Brendan Spinelli">Brendan Spinelli</a></li>
          <li><a href="mailto:tuc20247@temple.edu" title="Anastasiya Stoyneva">Anastasiya Stoyneva</a></li>
          <li><a href="mailto:atamayo@temple.edu" title="Ana Tamayo">Ana Tamayo</a></li>
          <li><a href="mailto:tonge@temple.edu" title="Michelle Tonge">Michelle Tonge</a></li>
          <li><a href="mailto:tuf34558@temple.edu" title="Francis Turco">Francis Turco</a></li>
          
        </ul>
      </div>
    </div>
  </div>
