<div>
  <h2>Graduate Students</h2>
    <p>Our highly selected MA and PhD students are an intricate part of the learning and teaching experience here in the Deparment of Geography and Urban Studies. Our graduate students conduct research, teach courses and work closely with various faculty members and students throughout the department.</a></p>
  </div>
<div class="container">
  <div class="row">
    <div class="col s12 m6" <br>
      <b></b>
      <ul>
        <li><a href="mailto:andreea@temple.edu" title="Andreea Ambrus">Andrea Ambrus</a></li>
        <li><a href="https://liberalarts.temple.edu/ritwika-biswas" title="Ritwika Biswas">Ritwika Biswas</a><p>
        <li><a href="https://liberalarts.temple.edu/rebecca-croog" title="Rebecca Croog">Rebecca Croog</a></li>
        <li><a href="mailto:tuf12432@temple.edu" title="Kwesi Daniels">Kwesi Daniels</a></li>
        <li><a href="https://liberalarts.temple.edu/stephen-dickinson" title="Stephen Dickinson">Stephen Dickinson</a></li>
        <li><a href="mailto:emily.gunther@temple.edu" title="Emily Gunther">Emily Gunther</a></li>
        <li><a href="https://liberalarts.temple.edu/nicole-hall" title="Nicole Hall">Nicole Hall</a></li>
        <li><a href="https://liberalarts.temple.edu/sarah-heck" title="Sarah Heck">Sarah Heck</a></li>
        <li><a href="mailto:michael.henderson@temple.edu" title="Michael Henderson">Michael Henderson</a></li>
        <li><a href="mailto:frederic.hsu@temple.edu" title="Yohsiang (Freddy) Hsu">Yohsiang (Freddy) Hsu</a></li>
        <li><a href="mailto:monika.jelic@temple.edu" title="Monika Jelic">Monika Jelic</a></li>
        <li><a href="https://liberalarts.temple.edu/yoonhee-jung" title="Yoonhee Jung">Yoonhee Jung</a></li>
        <li><a href="https://liberalarts.temple.edu/shrobona-karkun" title="Shrobona Karkun">Shrobona Karkun</a></li>
      </ul>
    </div>

    <div class="row">
      <div class="col s12 m6" <br>
        <b></b>
        <ul>
          <li><a href="https://liberalarts.temple.edu/dirk-kinsey" title="Dirk Kinsey">Dirk Kinsey</a></li>
          <li><a href="mailto:khusdeep.malhotra@temple.edu" title="Khusdeep Malhotra">Khusdeep Malhotra</a></li>
          <li><a href="mailto:sasha.mendez@temple.edu" title="Sasha Mendez">Sasha Mendez</a></li>
          <li><a href="https://liberalarts.temple.edu/felipe-munoz" title="Felipe Munoz">Felipe Munoz</a></li>
          <li><a href="https://liberalarts.temple.edu/labaron-palmer" title="Labaron Palmer">Labaron Palmer</a></li>
          <li><a href="https://liberalarts.temple.edu/jeronimo-rodriguez" title="Jeronimo Rodriguez">Jeronimo Rodriguez</a></li>
          <li><a href="https://liberalarts.temple.edu/alexis-saenz-montoya" title="Alexis Saenz Montoya">Alexis Saenz Montoya</a></li>
          <li><a href="https://liberalarts.temple.edu/alisa-shockley" title="Alisa Shockley">Alisa Shockley</a></li>
          <li><a href="https://liberalarts.temple.edu/kelly-sloane" title="Kelly Sloane">Kelly Sloane</a></li>
          <li><a href="mailto:heather.squire@temple.edu" title="Heather Squire">Heather Squire</a></li>
          <li><a href="https://liberalarts.temple.edu/sarah-stinard-kiel" title="Sarah Stinard-Kiel">Sarah Stinard-Kiel</a></li>
          <li><a href="https://liberalarts.temple.edu/daniel-wiese" title="Daniel Wiese">Daniel Wiese</a></li>
        </ul>
      </div>
    </div>
  </div>
