<div>
  <h2>Teaching Assistants</h2>    
</div>
<div class="container">
  <div class="row">
    <div class="col s12 m6"> 
         
  <ul>
 <li>Catalina Acevedo</li>
 <li>Alex Alarcon</li>
 <li>Olivia Beggins</li>
 <li>Rebecca Barnes</li>
 <li>Michael Boglovits</li>
 <li>Yesenia Escobar Espitia</li>
 <li>Jesus Fernandez Cano</li>
 <li>Abigail Gruber</li>
 <li>Maria Camila Franco</li>
 <li>Juan Daniel Guarin Buitrago</li>
 <li>Karla Murphy</li>
 <li>Victor Pascual Duran</li>
 <li><a href="https://liberalarts.temple.edu/academics/faculty/pontes-de-queiroz-renata" title="Renata Pontes De Queiroz">Renata Pontes De Queiroz</a></li>
 <li>Fernando Ruiz Garcia</li>
 <li>Doaa Serag</li>
 <li>Felicia Trievel</li>
 <li>Coral Zayas-Colon</li>
  <ul>
</div>

   <div class="row">
     <div class="col s12 m6">
  
  <ul>
 <h2>Graduate Students/Adjuncts</h2>
  <ul>
 <li>Katie Clarkson</li>
 <li>Lina Ruiz Guzman</li>  
 <li>Mariana Hernandez y Rojas</li>
 <li>Alodia Martin Martinez</li>
 <li>Karla Marku</li>
 <li>Choe H. Prudente</li>  
 <li><a href="https://liberalarts.temple.edu/academics/faculty/raso-llar-s-daniel-0" title="Daniel Raso">Daniel Raso</a></li>
 <li>Jose G. Rodriguez Plaza</li>
 <li>Francis Turco</li><br>
  <ul>  
<strong>Graduate Students - Not Teaching</strong>
  <ul>  
  <li>Brooke Adamski</li>
  <li>Matthew Berg</li> 
  <li>Laura Arevalo Catalan</li> 
  <li>Carmen De Leon</li>  
  <li>Thomas Diagostino</li>
  <li>Yordanka Guilarte</li>
  <li>Carly Hartz</li>
  <li>Manuel Malia</li>
  <li>Rimante Navickaite</li>
  <li>Ana Tamayo</li>  
  <li>Maria Arias Zelidon</li>  
  </ul>
 </div>
</div>
